*{
    margin: 0;
    padding: 0;
}


#main{
    width: 100%;
    height: 18vh;
}

nav{
    width: 100%;
    height: 18vh;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    position: fixed;
    background-color: white;
    z-index: 5;

}
#register{
    display: flex;
    width: 75%;
    height: 18vh;
    align-items: center;
    justify-content: space-evenly;
    font-size: 11px;
    font-family: rob;font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: rgb(147,147,147);
}

#register p{
    display: flex;
    align-items: center;
    gap: 12px;
}
#logo{
    display: flex;
    width: 25%;
    height: 18vh;
    align-items: center;
    justify-content: space-evenly;
}
#pay{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 5%;
  
}

#h3{
    font-size: 40px;
    color: rgb(3, 3, 91);
    margin-left: -40px;
}

#internet{
    width: 220px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 11px;
    font-family: rob;font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-style: normal;
    border: none;
    background-image: linear-gradient(to right, rgb(64, 64, 147)
     , rgb(3, 3, 91));
}

#lock{
    font-size: 15px;
  
}

#house{
    color: grey;font-size: 20px;
}
#logo{
    width: 200px;
    height: 100px;
}

#small1{
   width: 100%;
    height: 100vh;  
    background-color: red;
    
}

* {box-sizing:border-box}


.slideshow-container {
  width: 100%;
  height: 60vh;
  /* z-index: 3; */
}

img{
    width: 100%;
    height: 60vh;
}


.mySlides {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(204, 164, 164, 0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#small2{
    width: 100%;
    height: 155vh;

}

#box1{
    display: flex;
    height: 23vh;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -60px;
    width: 100%;
    position: relative;
    
}

#box2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    box-shadow: 10px 10px 20px rgb(168, 180, 183); 
    color: rgb(122, 52, 75);
    height: 18vh;
    background-color: white;
    border-radius: 10px
    

}

#hover{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.507);
    margin-top: -100vh;
    position: relative;
    color: white;
    padding: 20px 0 0 50px; 
}

#serving{
    font-weight: 700;
    font-size: 55px;
    color: wheat;
    width: 50%;
    line-height: 55px;
}

#asthe{
    font-weight: 600;
    font-size: 25px;
    width: 55%;
}

#lets{
    font-weight: 400;
    font-size: 25px;
    line-height: 25.5px;
    color:  rgb(19, 17, 17);
}

#finds{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color:  rgb(122, 122, 122);
}

#div1{
    display: flex;
    height: 70vh;
    width: 100%;
    background-color: white;
}

#div2{
    height: 50vh;
    width: 40%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    font-family: rob;font-family: "Roboto", sans-serif;
    color: gray;
    justify-content: space-evenly;
    background-color: white;
}

#div3{
    height: 70vh;
    width: 60%;
    display: flex;
    
}
#get1{
    width: 420px;
    height: 40px;
    border-radius: 10px;
    font-size: 11px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px 0 10px;
    font-family: rob;font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 25.5px;
    color:  rgb(119, 119, 119);
    border: solid 0.5px
     rgb(3, 3, 91);  
     outline: none;
}

#get{
    width: 420px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 11px;
    font-family: rob;font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-style: normal;
    border: none;
    background-image: linear-gradient(to right, rgb(64, 64, 147)
     , rgb(3, 3, 91));  
}

#icons1{
    color: peachpuff;
    font-size: 74px;
}

#div4{
    
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    font-family: rob;font-family: "Roboto", sans-serif;
    color: gray;
    justify-content: space-evenly;
    background-color: rgb(44, 6, 19);
}

#hh1{
    width: 600px;
    font-size: 24px;
    font-weight: 600;
    line-height: 31.2px;
    color: rgb(255, 255, 255)
}

#hh2{
    width: 600px;
    line-height: 40px;
    font-size: 40px;
    font-weight: 600;
    color: rgb(255, 255, 255)
}

#hh3{
    width: 600px;
    line-height: 26px;
    font-size: 20px;
    font-weight: 400;
    color:  rgb(237, 235, 235)
}

#buttons{
    display: flex;
    align-items: center;
    gap: 2rem;
}

#open{
    margin-left: 50px;
    margin-top: 30px;
    width: 220px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 11px;
    font-family: rob;font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-style: normal;
    border: none;
    background-image: linear-gradient(to right, rgb(119, 119, 186)
     , rgb(74, 74, 186));
}



@media  (max-width: 430px){
    #main{
        height: 5vh;
        
    }

    #register{
        height: 5vh;
        /* background-color: red; */
        width: 90%;
        font-size: 4px;
        align-items: center;
        text-align: center;
    }

    #register p{
        margin-top: 15px;
    }

    #internet{
        width: 42px;
        height: 10px;
        font-size: 3px;
    }


    #pay{
       width: 100px; 
    }

    #main span{
        font-size: 3px;
    }
    #img{
        height: 15vh;
    }

   

    #h3{
        font-size: 5px;
        display: none;
    }

    #small1{
        height: auto;
    }

    #open{
        width: 100px;
        height: 30px;
        font-size: 5px;
        margin: 0 5px;
    }

    #logo{
        width: 30px;
        height: 10px;
    }

    nav{
        height: 5vh;
    }

  

    #div2{
        height: 100%;
        width: 40%;
        /* margin-top: 50px; */
        margin-left: 10px;
        /* padding-left: 5px; */
    }

    #div3{
        height: 100%;
        /* margin-top: 20px; */
    }

    #img1{
        height: 100%;
    }

    #div1{
        height: 30vh;
        /* justify-content: end; */
        /* background-color: red; */
        
    }
    #hh1{
        width: 200px; 
        font-size: 10px;
        line-height: 15px;
     }

 
 
    #hh2{
        width: 200px; 
        font-size: 10px;
        line-height: 15px;
     }
 
    #hh3{
       width: 200px; 
       font-size: 8px;
       line-height: 15px;
    }
    #h3{
        font-size: 4px;
        margin-left: 0;
    }

    #lets{
        font-size: 10px;
        line-height: 10px;
        margin-top: 10px;
    }
    #serving{
        font-weight: 500;
        font-size: 20px;
        color: wheat;
        /* width: 50%; */
        line-height: 25px;
    }

    #asthe{
        font-weight: 500;
        font-size: 15px;
        width: 55%;
    }
    
    #finds{
        font-size: 8px;
        line-height: 12px;
    }

    #get{
        font-size: 10px;
        line-height: 15px;
        width: 100px;
        height: 20px;
    }

    #get1{
        font-size: 10px;
        line-height: 15px;
        width: 100px;
        height: 20px;
    }

    #icons1{
       
        font-size: 24px;
    }

    #new{
       font-size: 8px; 
    }

    #box2{
        height: 5vh;
    }

    #box1{
        height: auto;
    
    }

    #small2{
        width: 100%;
        height: auto;
    
    }



}